/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root{
    --color1: #3f4041;
    --color2: #f38c5d; 
    --color3: #eae9e6; 
    --color4: #95908d; 
    --color5: #64b2d5;
    --color6: #f7cdaa;
    --color7: #0E0E0E; 
}


/*GENERAL SETTINGS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family:'Roboto', sans-serif;
}
main{
    height: 110vh;
    border: solid;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}


h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 5px ;
}


h2{
    color: var(--color1);
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Roboto';
}

h3{
    color: var(--color5);
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 5%;
}

h4{
    color: var(--color1);
    font-size: 1.4rem;
    margin-bottom: 5%;
    font-weight: 400

}
p{
    color: var(--color4);
    margin-bottom: 5%;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto';
}

/*HEADER*/

header{
    background: var(--color2);
    color: white;
    display: flex;
    flex-direction: column;
    height: 60vh;
}


/*NAV BAR*/

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
}
#left-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 70%;
    height: 100%;
}
#second-left-nav{
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
}
#right-nav{
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
}

#logo{
    width: 30%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo img{
    height: 4rem;
    width: 80%;/*10rem;*/
}

nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    display: flex;
    margin: 0 1rem;
}

a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration: none;
    color: white;
}

.nav-btns{
    display: flex;
    flex-direction: row;
}

#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btns-header{
    width: 160px;
    display: flex;
    height: 60%;
    border-radius: 5px;
    border: none;
    margin: 0 2%;
    align-items: center;
    justify-content: center;
    background: rgb(6 6 62);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    
}
#shorter-btn{
    width: 100px;
    display: flex;
    height: 60%;
    border-radius: 5px;
    border: white solid 3px;
    margin: 0 2%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    background: var(--color2);
    font-weight: bold;
}

#left-side{
    display: flex;
    flex-direction: column;
    margin: 8%;
}

form{
    gap: 2rem;
    height: 40%;
    display: flex;
    flex-direction: column;
}



input{
    height: 2rem;
    border-radius: 5px;
    border: solid 1px var(--color3);
    text-indent: 10px;
}

::placeholder{
    color: var(--color3);
}
textarea{
    resize: none; 
    width: 435px;
    height: 150px;
    border: solid 1px var(--color3);
}
#right-side{
    display: flex;
    flex-direction: column;
    margin: 8%;
}

#form-button {
        width: 20%;
        align-self: flex-end;
        height: 3rem;
        color: white;
        background: var(--color2);
        border: none;
        border-radius: 5px;

}


span{
    color: var(--color2);
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 3% 0;
}

.social-logo{
    
    height: 5rem;
    width: 8rem;
    border-radius: 50%;
    background: rgb(247,205,170);
    background: linear-gradient(0deg, rgba(247,205,170,1) 30%, rgba(243,140,93,1) 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.text-content p{
    margin: 0 10%;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    border: solid red; 
}
.footer-section{
    display: flex;
    flex-direction: row;
    background: var(--color1);
    justify-content: space-around;
}

.copyrights{
    background: #0E0E0E;
    height: 2rem;
}

.nav-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2%;
    border: solid yellow;
}

.nav-footer ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.footer-section :nth-child(5){
    display: flex;
    flex-direction: column;
    background-color: red;
}
#footer-logo{
    align-items: center;
    display: flex;
    
}

#footer-logo i{
    margin-left: 15px;
    color: var(--color2); 
}

.footer-section :nth-child(6){
    display: flex;
    flex-direction: column;
    background-color: red;
}

.footer-section :nth-child(6) li{
    width: 90%; 
    color: white;
}
.footer-section :nth-child(6)  button{
    background-color: #0e0e4c;
    border: none;
    height: 180%;
    width: 60%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}








@media(min-width:400) {

    
}
*/